# Mac OS System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# IDE - JetBrains
.idea/
*.iml
*.iws
.idea_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test
.env*.local

# parcel-bundler cache (uncomment if using parcel)
# .cache
# .parcel-cache

# Next.js build output (uncomment if using Next.js)
# .next
# out

# Nuxt.js build output (uncomment if using Nuxt.js)
# .nuxt
# dist

# Local Netlify folder (uncomment if using Netlify)
# .netlify
